{% extends "pcontrol.html" %}
    {% block main %}
        <div class="pcontrol_crearAct">
            <h1>GESTIÓN DE ACTIVIDADES - CREAR NUEVA ACTIVIDAD</h1>
            <hr>
            <form id="editarActividad" action="/pcontrol_añadirActividad.php" method="post" enctype="multipart/form-data">
                <label for="titulo">Título</label><br>
                <input type="text" name="tituloNuevo" placeholder="Nuevo nombre de la actividad"><br>

                <label for="precio">Precio</label><br>
                <input type="text" name="precioNuevo" placeholder="Nuevo precio de la actividad" required><br>

                <label for="fecha">Fecha</label><br>
                <input type="text" name="fechaNueva" placeholder="Nueva fecha de la actividad" required><br>

                <label for="hastags">Hashtags</label><br>
                <input type="text" name="hashtagsNuevo" placeholder="Nuevos hastags de la actividad" required><br>

                <label for="editor">Descripción de la actividad</label><br>
                <textarea id="editor" name="descripcionNueva" form="editarActividad"> {{ actividad.descripcion }} </textarea> <br>
                
                <div class="galeria">
                    {% for imagen in imagenes_separadas %} 
                        {% if imagen != '' %}
                            <figure class="img_articulo">
                                <img src="img/{{imagen}}">
                                <p> {{piedefoto[loop.index0]}} </p>
                            </figure>
                            
                        {% endif %}
                    {% endfor %}
                </div>
                    
                <label for="galeria">Imagenes de la galeria</label><br>
                <input type="file" name="galeria[]" multiple><br>

                <label for="piedefoto">Pie de foto de imagenes la galeria</label><br>
                <input type="text" name="piedefotoNuevo" placeholder="Nuevos pie de foto de la galeria de la actividad"><br> 

                <input type="hidden" name="portadaEditar" value="{{ actividad.imagenes }}">
                <label for="imagen_portada">Imagen de portada</label><br>
                <input type="file" name="imagen_portada" /> <br>

                <input type="submit" value="Crear actividad"/>

            </form>
        </div>
    {% endblock %}
